<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>3-4</title>
    <script src="./index.js"></script>
    <style>
        .isred{color: red}
    </style>
</head>
<body>
    <div id="app">
        <input type="text" v-model="inputval" />
        <button @click="btn">提交</button>
        <ul>
           <todoitem :content="item" :index="index" @delete="childitemdelete"  v-for="(item,index) in list"></todoitem>
        </ul>
        <div v-text="name_text"></div>
        <div v-html="name_html"></div>
        <div :tit="name_text"></div>
        <div>{{fullName}}+{{fullName2}}</div>
        <div @click="handledivclick" :class="{isred:istrue}" :style="styleobj">hello word</div>

        <div v-if="istrue">{{msg}}</div>
        <div v-else>{{msg2}}</div>
        <div v-show="istrue">{{msg3}}</div>

        <!-- 对象循环 -->
        <!-- template占位符在页面是不显示的，可以做包裹元素使用 -->
        <template v-for="(item ,key ,index) of userinfo">
            <div>{{item}}--{{key}}</div>
            <span>{{key}}--{{item}}</span>
        </template>
    </div>
    <script>
        // 创建子组件
        Vue.component("todoitem",{
            // 通过props接收父组件得值
            props: ['content',"index"],
            template:"<li @click='childitem'>{{content}}</li>",
            methods:{
                childitem(){
                    // 子组件通过$emit传递值
                    this.$emit("delete",this.index)
                }
            }   
        })
        var app=new Vue({
            el:"#app",
            data () {
                return {
                    list:[],
                    inputval:'',
                    name_text:"xiaoli",
                    name_html:"<h3>xiaoli</h3>",
                    firstName:"dell",
                    lastName:"lee",
                    fullName:"dell lee",
                    istrue:false,
                    styleobj:{
                        color:'red'
                    },
                    msg:'条件渲染',
                    msg2:"msg2",
                    msg3:"show",
                    userinfo:{
                        name:"lsis",
                        age:18,
                        sex:"nv"
                    }
                }
            },
            methods: {
                btn(){
                    // 通过vue.set 方法添加数据，第一个是被添加的，第二个是你想要添加什么值，可以跟多个值以“，”分隔
                    Vue.set(this.userinfo,this.inputval)
                    /* 若vue.set修改的是数组，则第二个参数是下标，第三个是要改的值
                    eg:Vue.set(arr,1,10):将arr的下标为一的值改为10 */
                    
                    this.list.push(this.inputval)
                    this.inputval=""
                    
                },
                childitemdelete(index){
                    this.list.splice(index,1)
                },
                handledivclick(){
                    this.istrue=!this.istrue
                    
                }
                
            },
            watch: {
                // 监听inputval
              inputval:function(){
                  this.fullName = this.inputval+this.lastName
              },  
              lastName:function(){
                  this.fullName = this.firstName+this.lastName
              }
            },
           computed:{
               fullName2:{
                    get:function(){
                        return this.firstName+this.lastName
                    },
                    set:function(val){
                        var arr=val.split(" ");
                        this.firstName=arr[0]
                    }
               }
               
           }
          
        })
    </script>
</body>
</html>