<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <script src="./index.js"></script>
</head>
<body>
    <div id="app">
        <!-- 动态指令：is -->
        <!-- <component :is="type"></component> -->
        <child1 v-if="type === 'child1'"></child1>
        <child2 v-if="type === 'child2'"></child2>
        <button @click="btn">change</button>
    </div>
    <script>
      
        Vue.component("child1",{
            // v-once可以有效提高静态内容的效率
            template:`<div v-once>1</div>`
        })

        Vue.component("child2",{
            template:`<div v-once>2</div>`
        })

        var app =new Vue({
            el:"#app",
            data () {
                return {
                    type:'child1'
                }
            },
            methods: {
                btn(){
                    this.type=this.type==='child1'?'child2':'child1'
                }
            }
        })
    </script>
</body>
</html>